#background-fit > p {
  background: url('../img/text.png?1418347540') center 5px no-repeat, url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjEiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZjAwMDAiIHN0b3Atb3BhY2l0eT0iMC4zIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g') 0 0 no-repeat;
  background: url('../img/text.png?1418347540') center 5px no-repeat, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 0, 0, 0.1)), color-stop(100%, rgba(255, 0, 0, 0.3))) 0 0 no-repeat;
  background: url('../img/text.png?1418347540') center 5px no-repeat, -moz-linear-gradient(rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0.3)) 0 0 no-repeat;
  background: url('../img/text.png?1418347540') center 5px no-repeat, -o-linear-gradient(rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0.3)) 0 0 no-repeat;
  background: url('../img/text.png?1418347540') center 5px no-repeat, -webkit-linear-gradient(rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0.3)) 0 0 no-repeat;
  background: url('../img/text.png?1418347540') center 5px no-repeat, linear-gradient(rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0.3)) 0 0 no-repeat;
  -moz-background-size: 327px 29px, auto auto;
  -o-background-size: 327px 29px, auto auto;
  -webkit-background-size: 327px 29px, auto auto;
  background-size: 327px 29px, auto auto;
  height: 39px;
  text-indent: -9999px;
}
#background-fit section p {
  background: url('../img/text.png?1418347540') center 5px no-repeat, url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjEiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZjAwMDAiIHN0b3Atb3BhY2l0eT0iMC4zIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g') 0 0 no-repeat;
  background: url('../img/text.png?1418347540') center 5px no-repeat, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 0, 0, 0.1)), color-stop(100%, rgba(255, 0, 0, 0.3))) 0 0 no-repeat;
  background: url('../img/text.png?1418347540') center 5px no-repeat, -moz-linear-gradient(rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0.3)) 0 0 no-repeat;
  background: url('../img/text.png?1418347540') center 5px no-repeat, -o-linear-gradient(rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0.3)) 0 0 no-repeat;
  background: url('../img/text.png?1418347540') center 5px no-repeat, -webkit-linear-gradient(rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0.3)) 0 0 no-repeat;
  background: url('../img/text.png?1418347540') center 5px no-repeat, linear-gradient(rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0.3)) 0 0 no-repeat;
  -moz-background-size: 327px 29px, auto auto;
  -o-background-size: 327px 29px, auto auto;
  -webkit-background-size: 327px 29px, auto auto;
  background-size: 327px 29px, auto auto;
  height: 39px;
  text-indent: -9999px;
}

#background-4corners p {
  position: relative;
  height: 200px;
  text-align: center;
}
#background-4corners p:after, #background-4corners p:before {
  content: '';
  display: block;
  background: url('../img/flower.png?1418347540') 0 0 no-repeat;
  background-size: 100px 61px;
  width: 50%;
  height: 61px;
  position: absolute;
  -webkit-box-reflect: right;
}
#background-4corners p:before {
  top: 0;
  left: 0;
}
#background-4corners p:after {
  right: 0;
  bottom: 0;
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

#em-width p {
  margin: 0 auto;
  margin-bottom: 3.9rem;
  line-height: 2.3rem;
  letter-spacing: 0.24rem;
  color: #500;
  max-width: fs(736);
  /width: 40em;
}

#sprite-info p {
  background-image: url('../img/num-secb51223a0.png');
  -moz-background-size: 50px 270px;
  -o-background-size: 50px 270px;
  -webkit-background-size: 50px 270px;
  background-size: 50px 270px;
  background-position: 0 -110px;
  width: 50px;
  height: 50px;
}
#sprite-info li {
  display: inline-block;
}
#sprite-info li:nth-child(1) {
  background-image: url('../img/num-secb51223a0.png');
  -moz-background-size: 50px 270px;
  -o-background-size: 50px 270px;
  -webkit-background-size: 50px 270px;
  background-size: 50px 270px;
  background-position: 0 0;
  width: 50px;
  height: 50px;
}
#sprite-info li:nth-child(2) {
  background-image: url('../img/num-secb51223a0.png');
  -moz-background-size: 50px 270px;
  -o-background-size: 50px 270px;
  -webkit-background-size: 50px 270px;
  background-size: 50px 270px;
  background-position: 0 -55px;
  width: 50px;
  height: 50px;
}
#sprite-info li:nth-child(3) {
  background-image: url('../img/num-secb51223a0.png');
  -moz-background-size: 50px 270px;
  -o-background-size: 50px 270px;
  -webkit-background-size: 50px 270px;
  background-size: 50px 270px;
  background-position: 0 -110px;
  width: 50px;
  height: 50px;
}
#sprite-info li:nth-child(4) {
  background-image: url('../img/num-secb51223a0.png');
  -moz-background-size: 50px 270px;
  -o-background-size: 50px 270px;
  -webkit-background-size: 50px 270px;
  background-size: 50px 270px;
  background-position: 0 -165px;
  width: 50px;
  height: 50px;
}
#sprite-info li:nth-child(5) {
  background-image: url('../img/num-secb51223a0.png');
  -moz-background-size: 50px 270px;
  -o-background-size: 50px 270px;
  -webkit-background-size: 50px 270px;
  background-size: 50px 270px;
  background-position: 0 -220px;
  width: 50px;
  height: 50px;
}

#triangle li {
  float: left;
}
#triangle li:nth-child(1) {
  content: "";
  font-size: 0;
  border: 10px solid transparent;
  border-bottom-color: red;
  border-bottom-width: 20px;
}
#triangle li:nth-child(2) {
  content: "";
  font-size: 0;
  border: 10px solid transparent;
  border-left-color: green;
  border-left-width: 20px;
}
#triangle li:nth-child(3) {
  content: "";
  font-size: 0;
  border: 10px solid transparent;
  border-top-color: pink;
  border-top-width: 20px;
}
#triangle li:nth-child(4) {
  content: "";
  font-size: 0;
  border: 10px solid transparent;
  border-right-color: purple;
  border-right-width: 20px;
}
#triangle p {
  margin: 30px auto;
  border: 2px solid #39c;
  height: 100px;
  width: 100px;
  position: relative;
  background: #fff;
  -webkit-filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.5));
}
#triangle p:after {
  content: "";
  font-size: 0;
  border: 15px solid transparent;
  border-top-color: #39c;
  border-top-width: 20px;
  bottom: -35px;
  position: absolute;
  left: 50%;
  margin-left: -15px;
}
#triangle p:before {
  content: "";
  font-size: 0;
  border: 25px solid transparent;
  border-bottom-color: #39c;
  border-bottom-width: 20px;
  top: -45px;
  position: absolute;
  left: 50%;
  margin-left: -25px;
}

#arrow li {
  padding: 0.3em;
  margin-bottom: 0.3em;
  background: #333;
  color: #fff;
  position: relative;
}
#arrow li:nth-child(1):after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  top: 50%;
  margin-top: -13px;
}
#arrow li:nth-child(2):after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#arrow li:nth-child(3):after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #fff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#arrow li:nth-child(4):after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#arrow li:after {
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -12.5px;
}

#shadow-repeat p {
  padding: 1em;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 0 3px #000,0 0 3px #000,0 0 3px #000,0 0 3px #000,0 0 3px #000;
  box-shadow: 0 0 10px #000,0 0 10px #000,0 0 10px #000,0 0 10px #000,0 0 10px #000;
}

#background-stripe {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjEuMCIgeTE9IjEuMCIgeDI9IjAuMCIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIyNSUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PHN0b3Agb2Zmc2V0PSIyNSUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC41Ii8+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC41Ii8+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PHN0b3Agb2Zmc2V0PSI3NSUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PHN0b3Agb2Zmc2V0PSI3NSUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC41Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAuNSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==') ;
  background-size: 100%;
  background-image: -moz-linear-gradient(135deg, rgba(0, 0, 0, 0) 25%, rgba(255, 255, 255, 0.5) 25%, rgba(255, 255, 255, 0.5) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 75%, rgba(255, 255, 255, 0.5) 75%, rgba(255, 255, 255, 0.5)) ;
  background-image: -o-linear-gradient(135deg, rgba(0, 0, 0, 0) 25%, rgba(255, 255, 255, 0.5) 25%, rgba(255, 255, 255, 0.5) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 75%, rgba(255, 255, 255, 0.5) 75%, rgba(255, 255, 255, 0.5)) ;
  background-image: -webkit-linear-gradient(135deg, rgba(0, 0, 0, 0) 25%, rgba(255, 255, 255, 0.5) 25%, rgba(255, 255, 255, 0.5) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 75%, rgba(255, 255, 255, 0.5) 75%, rgba(255, 255, 255, 0.5)) ;
  background-image: linear-gradient(-45deg, rgba(0, 0, 0, 0) 25%, rgba(255, 255, 255, 0.5) 25%, rgba(255, 255, 255, 0.5) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 75%, rgba(255, 255, 255, 0.5) 75%, rgba(255, 255, 255, 0.5)) ;
  background-size: 40px 40px ;
  background-color: #39c;
  height: 150px;
}
