@charset "utf-8";

@import "_extension_import.scss";

body {
	-webkit-text-size-adjust: none;
}

#header,
main,
#footer {
	text-align: left;
	position: relative;
}

/*----------------------------------------
	header
----------------------------------------*/
#header {
	h1 {
		@include display-box-center();
		padding: 3em;
		background: #333;
		color: #fff
	}
}

/*----------------------------------------
	content
----------------------------------------*/
main {
}

/*----------------------------------------
	footer
----------------------------------------*/
#footer {
	p {
		padding: 0.5em;
	}
}


/*----------------------------------------
	Class
----------------------------------------*/
@include clearfix();

.test {
	@extend %clearfix;
}
