@charset "utf-8";
body {
  -webkit-text-size-adjust: none;
}

#header,
main,
#footer {
  text-align: left;
  position: relative;
}

/*----------------------------------------
	header
----------------------------------------*/
#header h1 {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  box-align: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  box-pack: center;
  padding: 3em;
  background: #333;
  color: white;
}

/*----------------------------------------
	content
----------------------------------------*/
/*----------------------------------------
	footer
----------------------------------------*/
#footer p {
  padding: 0.5em;
}

/*----------------------------------------
	Class
----------------------------------------*/
.clearfix, .test {
  min-height: 1px;
  _height: 1%;
}
.clearfix:after, .test:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
