@charset "utf-8";
#header,
main,
#footer {
  margin: 0 auto;
  text-align: left;
  width: 736px;
  position: relative;
  background: #f1f1f1;
  overflow: hidden;
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
}

/*----------------------------------------
	header
----------------------------------------*/
#header h1 {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  box-align: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  box-pack: center;
  padding: 3em;
}

/*----------------------------------------
	content
----------------------------------------*/
main h2 {
  padding: 0.3em 20px;
  padding: 0.3em 2rem;
  marign-bottom: 1em;
}
main h3 {
  margin: 0.3em 0;
  padding: 0.3em 20px;
  padding: 0.3em 2rem;
  background: #666;
  color: #fff;
}
main h4 {
  margin: 0.3em 0;
  padding: 0.3em 20px;
  padding: 0.3em 2rem;
}
main p {
  margin: 1em 0;
}
main section {
  margin-bottom: 1em;
}

/*----------------------------------------
	footer
----------------------------------------*/
#footer p {
  padding: 0.5em;
}

/*----------------------------------------
	Class
----------------------------------------*/
.clearfix, .test {
  min-height: 1px;
  _height: 1%;
}
.clearfix:after, .test:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
